<section id="form" class="section-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-5">Reset Password</h2>
      <p>パスワード再設定</p>
    </div>
    <div class="form form-content-area">
      <%= form_with url: password_reset_path do |f| %> 
        <div class="form-group mt-3 px-5">
          <%= f.label :email, "メールアドレスを入力してください", class:"mb-3" %>
          <%= f.text_field :email, class:"form-control", placeholder:"name@example.com" %>
        </div>
        <div class="text-center mt-4">
          <%= f.button "パスワードの再設定を申請する", :type => "submit" %>
        </div>
      <% end %>
    </div>
    <p class="mt-5 mb-1">※パスワードをご存知の方は<%= link_to "ログイン", login_path %>をご利用ください</p>
    <p class="mt-1 mb-1">※アカウントをお持ちでない方は<%= link_to "新規登録", new_user_path %>をご利用ください</p>
    <p class="mt-1">※アカウントを作成せずに始めたい方は<%= link_to "ゲストログイン", guest_login_path, data: { turbo_method: :post } %>をご利用ください</p>
  </div>
</section>