<div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="table-1">
  <p>投稿数: <%= user_posts_count %>件</p>
  <% user.posts.includes([spot_image_attachment: :blob]).each do |post| %>
    <div class="table-item">
      <div class="d-flex mb-2 align-items-center">
        <%= link_to user_path(post.user) do %>
          <% if post.user.image.attached? %>
            <%= image_tag(rails_blob_path(post.user.image),:size => "40x40",class:"rounded-circle") %>
          <% else %>
            <%= image_tag("default_user.png", :size => "40x40") %>
          <% end %>
        <% end %>
        <div class="ms-3 post-items-top">
          <%= link_to user_path(post.user) do %>
            <p><%= post.user.name %></p>
          <% end %>
          <p><%= post.address %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <time><%= l post.created_at, format: :long %></time>
        </div>
        <div class="col-md-10">
          <div class="post-item">
            <% if post.spot_image.attached? %>
              <%= image_tag(rails_blob_path(post.spot_image), class:"img-fluid") %>
            <% else %>
              <%= image_tag("default_spot.jpg", class:"img-fluid") %>
            <% end %>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="contents-area">
              <h4><%= post.title %></h4>
              <% if current_user && post.liked?(current_user) %>
                <%= link_to post_likes_path(post.id), data: { "turbo-method": :delete } do %>
                  <div class="align-items-center d-flex">
                    <span class="fa fa-thumbs-up fa-lg"></span>
                    <p class="ms-2 fs-4"><%= post.likes_count %></p>
                  </div>
                <% end %>
              <% else %>
                <%= link_to post_likes_path(post.id), data: { "turbo-method": :post } do %>
                  <div class="align-items-center d-flex not-liked">
                    <span class="fa fa-thumbs-up fa-lg"></span>
                    <p class="ms-2 fs-4"><%= post.likes_count %></p>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="d-flex flex-column">
              <% if current_user && post.liked?(current_user) %>
                <%= link_to "いいね済み", post_likes_path(post.id), data: { "turbo-method": :delete }, class:"btn-1 text-center" %>
              <% else %>
                <%= link_to "いいねする", post_likes_path(post.id), data: { "turbo-method": :post }, class:"btn-2 text-center" %>
              <% end %>
              <%= link_to "スポット詳細へ", post_path(post), class:"btn-1 mt-1" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
