<% content_for(:title, "ログイン") %>
<section id="form" class="section-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-5">login</h2>
      <p>ログイン</p>
    </div>
    <% if @error_message %>
      <div class="error-messages-area">
        <%= @error_message %>
      </div>
    <% end %>
    <div class="form form-content-area">
      <%= form_with model: @user, url: login_path do |f| %> 
        <div class="form-group mt-3">
          <%= f.label :email, "メールアドレス", class:"mb-3" %>
          <%= f.text_field :email, class:"form-control", placeholder:"メールアドレスを入力（name@example.com）" %>
        </div>
        <div class="form-group mt-3">
          <%= f.label :password, "パスワード", class:"mb-3" %>
          <%= f.password_field :password, class:"form-control", placeholder:"パスワードを入力" %>
        </div>
        <div class="text-center mt-4">
          <%= f.button "ログインする", :type => "submit" %>
        </div>
      <% end %>
    </div>
    <p class="mt-5 mb-1">※パスワードをお忘れの方は<%= link_to "再設定", password_reset_path %>をしてください</p>
    <p class="mt-1 mb-1">※アカウントをお持ちでない方は<%= link_to "新規登録", new_user_path %>をご利用ください</p>
    <p class="mt-1">※アカウントを作成せずに始めたい方は<%= link_to "ゲストログイン", guest_login_path, data: { turbo_method: :post } %>をご利用ください</p>
  </div>
</section>
