<section id="speakers-details">
  <div class="container">
    <div class="section-header">
      <h2 class="mt-5">User Profile</h2>
      <p>ユーザープロフィール</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <% if @user.image.attached? %>
          <%= image_tag(rails_blob_path(@user.image),:size => "70x70",class:"rounded-circle") %>
        <% else %>
          <%= image_tag("default_user.png", :size => "70x70") %>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="details">
          <% if @user.id == @current_user.id %>
            <%= link_to "プロフィール編集", edit_user_path, class: "btn btn-danger py-2 px-4"%>
          <% end %>
          <h3>ユーザー名</h2>
          <h2><%= @user.name %></h2>
          <h3>自己紹介</h2>
          <p><%= @user.introduction %></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="schedule" class="section-with-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <ul class="nav nav-tabs aos-init aos-animate" role="tablist" data-aos="fade-up" data-aos-delay="100">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab" aria-selected="true">Day 1</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab" aria-selected="false" tabindex="-1">Day 2</a>
      </li>
    </ul>
    <div class="tab-content row justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
      <!-- Post List 1 -->
      <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
        <% @user.posts.each do |post| %>
            <div class="row schedule-item">
              <div class="col-md-2"><time><%= post.created_at %></time></div>
              <div class="col-md-10">
                <h4><%= post.title %></h4>
                <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p>
              </div>
            </div>
          </div>
        <% end %>
      <!-- End Post List 1 -->

      <!-- Post List 2 -->
      <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
        <div class="row schedule-item">
          <div class="col-md-2"><time>10:00 AM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="assets/img/speakers/1.jpg" alt="Brenden Legros">
            </div>
            <h4>Libero corrupti explicabo itaque. <span>Brenden Legros</span></h4>
            <p>Facere provident incidunt quos voluptas.</p>
          </div>
        </div>
      </div>
      <!-- End Post List 2 -->
    </div>
  </div>
</section>
