<section id="venue">
  <div class="container-fluid aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-5">About</h2>
      <p>アプリケーションについて</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>flow fieldはパルクールのスポットを検索・投稿するアプリケーションです。</h4>
          <p>パルクールは主に「スポット」と呼ばれる周囲の環境を利用して練習を行います。どのような環境でも自由にできることを前提としているため、スポットに条件はありません。街中・公園・森・岩場など、いかなる環境もスポットになります。しかし実際には、どんな場所がスポットになるのかがイメージしづらく、屋外での練習はハードルが高いことがあります。flow fieldでは、みんなの投稿から新たなスポットを見つけたり、あなたの身近にあるスポットを投稿して共有することが可能となります。</p>
          <div class="text-center">
            <h5 class="mb-4">flow fieldを使って、お気に入りのスポットを探しましょう！<h5>
            <% if @current_user %>
              <%= link_to "新規スポットを投稿する", new_post_path, class:"btn" %>
            <% else %>
              <%= link_to "新規登録してスポットを投稿する", new_user_path, class:"btn" %>
            <% end %>
          </div>
        </div>
        <div class="col-lg-6">
          <%= image_tag("introduction.png", alt:"introduction", class:"img-fluid") %>
        </div>
      </div>
      <div class="text-center mt-5">
        <h4>そもそもパルクールって？</h4>
        <p>パルクールはフランス生まれのスポーツで、走る・跳ぶ・登るなどの「移動動作」で心身を鍛える運動方法です。街や森で、自由にスタートとゴールを決めて、障害物を越えることで体を鍛えていきます。単に運動能力を引き上げるだけではなく、トレーニングを通して自分自身を知り、身体と同様、精神も鍛えていきます。 そのため、パルクール先進国では、教育やリハビリなどの分野でも積極的に取り入れられています。</p>
      </div>
    </div>
    <div class="row g-0">
      <div class="container-fluid venue-gallery-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">
          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <%= image_tag("about-1.jpg", alt:"about-1", class:"img-fluid") %>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <%= image_tag("about-2.jpg", alt:"about-2", class:"img-fluid") %>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <%= image_tag("about-3.jpg", alt:"about-3", class:"img-fluid") %>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <%= image_tag("about-4.jpg", alt:"about-4", class:"img-fluid") %>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <%= image_tag("about-5.jpg", alt:"about-5", class:"img-fluid") %>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <%= image_tag("about-6.jpg", alt:"about-6", class:"img-fluid") %>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <%= image_tag("about-7.jpg", alt:"about-7", class:"img-fluid") %>
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <%= image_tag("about-8.jpg", alt:"about-8", class:"img-fluid") %>
            </div>
          </div>
        </div>
      </div>
    </section>