<section id="top">
  <div class="top-container aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="mb-4 pb-0">FLOW<span> SPOT</span></h1>
    <p class="mb-5 pb-0">FLOW SPOTでお気に入りのパルクールスポットを発見・投稿しよう！</p>
    <% if @current_user %>
      <%= link_to "スポットを投稿する", new_post_path, class:"top-btn-new" %>
    <% else %>
      <%= link_to "新規登録してスポットを投稿する", new_user_path, class:"top-btn-new" %>
      <div class="footer-btn-area">
          <%= link_to "ログインはこちら", login_path, class:"top-btn me-4" %>
          <%= link_to "ゲストログインはこちら", guest_login_path, data: { turbo_method: :post }, class:"top-btn" %>
      </div>
    <% end %>
    <section id="search-form">
      <h3 class="mt-5">キーワードでスポットを検索してみよう！</h3>
      <div class="container aos-init aos-animate mt-3" data-aos="zoom-in">
        <%= form_with(url: search_posts_path, local: true, method: :get ) do |f| %>
          <div class="row">
            <div class="col-lg-6 col-md-10 d-flex">
              <%= f.text_field :keyword, class:"form-control border border-dark-subtle", placeholder:"投稿者、タイトル、住所" %>
              <%= f.button "検索", :type => "submit", class:"ms-2" %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</section>
<section id="table" class="section-with-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <ul class="nav nav-tabs aos-init aos-animate" role="tablist" data-aos="fade-up" data-aos-delay="100">
      <li class="nav-item me-4" role="post-table">
        <a class="nav-link active" href="#table-1" role="tab" data-bs-toggle="tab" aria-selected="true">新着投稿</a>
      </li>
      <li class="nav-item" role="post-table">
        <a class="nav-link" href="#table-2" role="tab" data-bs-toggle="tab" aria-selected="false" tabindex="-1">人気投稿</a>
      </li>
    </ul>
    <div class="tab-content row justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
      <!-- Post List 1 -->
        <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="table-1">
          <%= render 'shared/home/posts', posts: @latest_posts,current_user: @current_user %>
          <%= link_to '新着投稿をもっと見る', posts_path(latest: "true"), class:"btn-3 mt-5" %>
        </div>
      <!-- End Post List 1 -->

      <!-- Post List 2 -->
        <div role="tabpanel" class="col-lg-9 tab-pane fade" id="table-2">
          <%= render 'shared/home/posts', posts: @most_favorited_posts, current_user: @current_user %>
          <%= link_to '人気投稿をもっと見る', posts_path(most_favorited: "true"), class:"btn-3 mt-5" %>
        </div> 
      <!-- End Post List 2 -->
    </div>
  </div>
</section>
<% if @current_user %>
  <%= link_to "新規スポット投稿", new_post_path, class:"position-held-btn d-flex align-items-center justify-content-center active" %>
<% else %>
  <%= link_to "FLOW SPOTとは", about_path, class:"position-held-btn d-flex align-items-center justify-content-center active" %>
<% end %>
