<section id="hero">
  <div class="hero-container aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="mb-4 pb-0">FLOW<span> FIELD</span></h1>
    <p class="mb-5 pb-0">FLOW FIELDでお気に入りのパルクールスポットを発見・投稿しよう！</p>
    <% if @current_user %>
      <%= link_to "スポットを投稿する", new_post_path, class:"top-btn-new" %>
    <% else %>
      <%= link_to "新規登録してスポットを投稿する", new_user_path, class:"top-btn-new" %>
      <div class="d-flex">
        <%= link_to "ログインはこちら", login_path, class:"top-btn top-btn-login" %>
        <%= link_to "ゲストログインはこちら", login_path, class:"top-btn top-btn-guestlogin" %>
      </div>
    <% end %>
    <section id="subscribe">
      <div class="container aos-init aos-animate mt-3" data-aos="zoom-in">
        <%= form_with(url: search_posts_path, local: true, method: :get ) do |f| %>
          <div class="row">
            <div class="col-lg-6 col-md-10 d-flex">
              <%= f.text_field :keyword, class:"form-control border border-dark-subtle", placeholder:"投稿者、スポット名、タイトル、住所" %>
              <%= f.button "検索", :type => "submit", class:"ms-2" %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</section>