<div class="tab-content row justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
  <div role="tabpanel" class="col-lg-9 tab-pane fade show active">
    <% if users.exists? %>
      <% users.each do |user| %>
        <div class="table-item">
          <div class="image-wrapper">
            <% if user.image.attached? %>
              <%= image_tag(rails_blob_path(user.image)) %>
            <% else %>
              <%= image_tag("default_user.png") %>
            <% end %>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="contents-area">
              <h4><%= user.name %></h4>
              <div class="d-flex">
                <p class="mb-1 me-2">フォロー数: <%= user.followings.count %>人</p>
                <p class="mb-1">フォロワー数: <%= user.followers.count %>人</p>
              </div>
            </div>
            <div class="d-flex flex-column contents-area text-center">
              <% if current_user && user.id == current_user.id %>
                <%= link_to "情報を編集する", edit_user_path(current_user), class:"align-self-center btn-1" %>
              <% elsif current_user && current_user.following?(user) %>
                <%= link_to "フォロー済み", user_relationships_path(user.id), data: { "turbo-method": :delete }, class:"btn-1" %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(user.id), data: { "turbo-method": :post }, class:"btn-2" %>
              <% end %>
              <%= link_to "プロフィールへ", user_path(user), class:"btn-1 mt-1" %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
  </div>
</div>
