<section id="spots">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-5">Spot Index</h2>
      <p>投稿スポット一覧</p>
    </div>
    <section id="search-form">
      <div class="container aos-init aos-animate" data-aos="zoom-in">
        <%= form_with(url: search_posts_path, local: true, method: :get ) do |f| %>
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 d-flex">
              <%= f.text_field :keyword, class:"form-control border border-dark-subtle", placeholder:"投稿者、スポット名、タイトル、住所" %>
              <%= f.button "検索", :type => "submit", class:"ms-2" %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
    <h3>スポット件数: <%= @posts_count %>件</h3>
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-lg-4 col-md-6">
          <div class="post-details-top d-flex justify-content-between align-items-center"> 
            <div class="d-flex align-items-center">
              <%= link_to user_path(post.user) do %>
                <% if post.user.image.attached? %>
                  <%= image_tag(rails_blob_path(post.user.image),:size => "40x40",class:"rounded-circle") %>
                <% else %>
                  <%= image_tag("default_user.png", :size => "40x40") %>
                <% end %>
              <% end %>
              <div class="d-flex flex-column ms-2">
                <%= link_to user_path(post.user) do %>
                  <p><%= post.user.name %></p>
                <% end %>
                <time><%= l post.created_at, format: :long %></time>
              </div>
            </div>
            <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
              <%= link_to post_likes_path(post.id), data: { "turbo-method": :delete } do %>
                <div class="align-items-center d-flex">
                  <span class="fa fa-thumbs-up fa-lg"></span>
                  <p class="ms-2 fs-4"><%= post.likes_count %></p>
                </div>
              <% end %>
            <% else %>
              <%= link_to post_likes_path(post.id), data: { "turbo-method": :post } do %>
                <div class="align-items-center d-flex not-liked">
                  <span class="fa fa-thumbs-up fa-lg"></span>
                  <p class="ms-2 fs-4"><%= post.likes_count %></p>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="spot aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <%= link_to post do %>
              <% if post.spot_image.attached? %>
                <%= image_tag(rails_blob_path(post.spot_image), class:"img-fluid") %>
              <% else %>
                <%= image_tag("default_spot.jpg", class:"img-fluid") %>
              <% end %>
              <div class="details">
                <h3><%= post.title %></h3>
                <% if post.spot_name.present? %>
                  <p><%= post.spot_name %></p>
                <% else %>
                  <p><%= post.address %></p>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
