<section id="speakers-details">
  <div class="container">
    <div class="section-header">
      <h2 class="mt-5">Spot Detail</h2>
      <p>スポット情報</p>
    </div>
    <div class="details">
      <div class="d-flex align-items-center justify-content-between post-details-top">
        <%= link_to user_path(@post.user) do %>
          <div class="d-flex align-items-center">
            <% if @post.user.image.attached? %>
              <%= image_tag(rails_blob_path(@post.user.image),:size => "40x40",class:"rounded-circle") %>
            <% else %>
              <%= image_tag("default_user.png", :size => "40x40") %>
            <% end %>
            <p class="ms-2"><%= @post.user.name %></p>
          </div>
        <% end %> 
        <div class="d-flex">
          <% if @post.user_id == @current_user.id %>
            <%= link_to "編集", edit_post_path, class: "btn-1" %>
            <%= link_to "削除", post_path, data: { turbo_confirm: "本当に削除しますか？", turbo_method: :delete}, class: "btn-2" %>
          <% end %>
        </div>
      </div>
      <h2><%= @post.title %></h2>         
      <div class="row">
        <div class="col-md-6">
        <% if @post.spot_image.attached? %>
          <%= image_tag(rails_blob_path(@post.spot_image), class:"img-fluid") %>
        <% else %>
          <%= image_tag("default_spot.jpg", class:"img-fluid") %>
        <% end %>
        </div>
        <div class="col-md-6">
          <div id="map"></div>
        </div>
      </div>
      <div class="d-flex mt-3 align-items-center">
        <p class="me-5 fs-4">いいね数: <%= @post.likes_count %></p>
        <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
          <%= link_to "いいね済み", post_likes_path(@post.id), data: { "turbo-method": :delete }, class:"btn-1 ms-4" %>
        <% else %>
          <%= link_to "いいねする", post_likes_path(@post.id), data: { "turbo-method": :post }, class:"btn-2 ms-4" %>
        <% end %>
      </div>
      <h2 class="mt-3 fs-5"><span class="me-3"></span>住所</h2>
      <p><%= @post.address %></p>
      <h2 class="mt-3 fs-5"><span class="me-3"></span>スポットへのコメント</h2>
      <% if @post.content.present? %>
        <p><%= @post.content %></p>
      <% else %>
        <p>コメントはありません</p>
      <% end %>
      <h2 class="mt-3 fs-5"><span class="me-3"></span>フロー動画</h2>
      <% if @post.flow_video.attached? %>
        <video class="mt-3" src="<%= rails_blob_path(@post.flow_video) %>" type="video/mp4" controls></video>
      <% else %>
        <p>動画はありません</p>
      <% end %>
    </div>
  </div>
</section>
<script>
  function initMap(){
    let mapPosition = {lat: <%= @post.latitude || 0 %> , lng: <%= @post.longitude || 0 %> };
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: mapPosition
    });
    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    let contentString = '【住所】<%= @post.address %>';
    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    let marker = new google.maps.Marker({
      position: mapPosition,
      map: map,
      title: contentString
    });

    marker.addListener('click', function(){
      infowindow.open(map, marker);
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>