<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <% if current_user %>
          <div class="col-lg-4 footer-info">
            <%= link_to '/' do %>
              <p>FLOW <span>FIELD</span></p>
            <% end %>
          <p>flow fieldはパルクールのスポットを検索・投稿するアプリケーションです。パルクールは主に「スポット」と呼ばれる周囲の環境を利用して練習を行います。どのような環境でも自由にできることを前提としているため、街中・公園・森・岩場など、いかなる環境もスポットになります。flow fieldでは、みんなの投稿から新たなスポットを見つけたり、スポットを投稿して共有することが可能となります。</p>
          </div>
          <div class="col-lg-4 footer-links">
            <h4><%= current_user.name %></h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i><%= link_to "フォロワー一覧", user_followers_path(current_user) %></li>
              <li><i class="bi bi-chevron-right"></i><%= link_to "フォロー一覧", user_followings_path(current_user) %></li>
              <li><i class="bi bi-chevron-right"></i><%= link_to "ユーザー情報", user_path(current_user) %></li>
              <li><i class="bi bi-chevron-right"></i><%= link_to "プロフィール編集", edit_user_path(current_user) %></li></li>
              <li><i class="bi bi-chevron-right"></i><%= link_to "ログアウト", logout_path, data: { turbo_confirm: "ログアウトしますか？", turbo_method: :post } %></li>
            </ul>
          </div>
          <div class="col-lg-4 footer-links">
            <h4>メニュー</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i><%= link_to "アプリについて", about_path %></li>
              <li><i class="bi bi-chevron-right"></i><%= link_to "ユーザー一覧", users_path %></li>
              <li><i class="bi bi-chevron-right"></i><%= link_to "スポット一覧", posts_path(latest: "true") %></li>
              <li><i class="bi bi-chevron-right"></i><%= link_to "新規スポット投稿", new_post_path%></li>
            </ul>
          </div>
        </div>
      <% else %>
        <div class="col-lg-4 footer-info">
          <%= link_to '/' do %>
            <p>FLOW <span>FIELD</span></p>
          <% end %>
          <p>flow fieldはパルクールのスポットを検索・投稿するアプリケーションです。パルクールは主に「スポット」と呼ばれる周囲の環境を利用して練習を行います。どのような環境でも自由にできることを前提としているため、街中・公園・森・岩場など、いかなる環境もスポットになります。flow fieldでは、みんなの投稿から新たなスポットを見つけたり、スポットを投稿して共有することが可能となります。</p>
        </div>
        <div class="col-lg-4 footer-links">
          <h4>メニュー</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i><%= link_to "アプリについて", about_path %></li>
            <li><i class="bi bi-chevron-right"></i><%= link_to "ユーザー一覧", users_path %></li>
            <li><i class="bi bi-chevron-right"></i><%= link_to "スポット一覧", posts_path %></li>
          </ul>
        </div>
        <div class="col-lg-4 footer-links">
        <h4>新規登録・ログイン</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i><%= link_to "新規登録", new_user_path %></li>
          <li><i class="bi bi-chevron-right"></i><%= link_to "ゲストログイン", guest_login_path, data: { turbo_method: :post } %></li>
          <li><i class="bi bi-chevron-right"></i><%= link_to "ログイン", login_path %></li>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      © Copyright <strong>Flow Field</strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer>